<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Create | AsPredicted </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/temp.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"/>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="icon" href="https://aspredicted.org/images/favicon_aspredicted.svg"/>
    <link rel="icon" type="image/png" sizes="32x32" href="https://aspredicted.org/images/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="https://aspredicted.org/images/favicons/favicon-16x16.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="https://aspredicted.org/favicons/apple-touch-icon.png"/>
    <link rel="mask-icon" href="https://aspredicted.org/images/favicons/safari-pinned-tab.svg" color="#5bbad5"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/lib/leader-line.min.js') }}"></script>
</head>
<body>

<div class="container-fluid" style="vertical:align:middle">
    <div class="row" style="background-color:#f7f7f7;padding-top:10px">
        <div class="col-md-6">
            <img class="img-responsive logo" src="https://aspredicted.org/images/aspredicted_penn_wharton.png" style="margin-left:1px;float:left;width:300px">
        </div>
        <div class="col-md-6">
            <a href="http://credlab.wharton.upenn.edu" target="_blank">
                <img class="img-responsive logo" src="https://aspredicted.org/images/CredLab Logo 2020_transparent.svg" style="margin-right:1px;float:right; width:175px">
            </a>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row" style="margin-top:5px;">
        <div class="col-xs-6"><br>

        </div>
        <div class="col-xs-6" style="text-align:right">
            <br>
            <!-- Remove this from the original aspredicted website for better presentation  -->
{#            <button id="raw-aspredicted" class="btn btn-primary" style="margin-left:5px;margin-top:5px;">Raw AsPredicted</button>#}
{#            <button id="coffee-plugin" class="btn btn-success" style="margin-left:5px;margin-top:5px;">Coffee</button>#}
<!--
            <a href="https://aspredicted.org/account.php">
                <button class="btn btn_blue" style="margin-left:5px;margin-top:5px;">ACCOUNT</button>
            </a>&nbsp;
            <a href="https://aspredicted.org/logout.php">
                <button type="submit" style="margin-left:5px;margin-top:5px;" class="btn btn_red">LOG OUT
                </button>
            </a>
            -->
        </div>
    </div>
</div>

<hr>

<link rel="icon" type="image/png" href="https://aspredicted.com/favicon.png">


<h1 align="center"><b>Creating New AsPredicted</b><br></h1>


<center>
	<label>
		<input type="checkbox" name="destroy" value="1">
				I am just trying things out. (Check the box and the submission will self destruct within 24 hours)
		<img alt="a small red self-destroy button" src="https://aspredicted.org/images/self_destruct_button.jpeg" width="66" height="57">
	</label>
</center>

<div class="container center1">
    <hr>
    <h3><center><b>AsPredicted Questions</b><br><font color="gray" size="1"><i>(version 2.00)</i></font></center></h3>

	<div class="alert alert-info">
			<font size="3"><center>This <u><a href="http://datacolada.org/64" class="alert-link" target="_blank">blog post</a></u> on how to answer pre-registration questions may be a useful resource.<br></center></font>
	</div>


	<div class="row row_create"><div class=" col-xs-12">
	<h4 style="margin-left: -16px;">
	<br>

		<b>1) Data collection.</b> Have any data been collected for this study already?
	</h4>

			<div class="checkbox"><label><input type="radio" name="any_data_yet" value="1">Yes, we already collected the data.</label></div>
			<div class="checkbox"><label><input type="radio" name="any_data_yet" value="0" checked>No, no data have been collected for this study yet.</label></div>
			<div class="checkbox"><label><input type="radio" name="any_data_yet" value=".5">  <font color="#808080">It's complicated. We have already collected some data but explain in Question 8 why readers may consider this a valid <b><u>pre</u></b>-registration nevertheless.</font>			<font color="blue" size="2"><br>(Note: <i>"Yes"</i> is not an accepted answer.)</font></label></div><br>

            <div class="row row_create">
                <div class=" col-xs-12">
                    <h4 style="margin-left: -16px;">
                    <!--The question itself-->
                        <b>2) Hypothesis. </b> What's the main question being asked or hypothesis being tested in this study?
                    </h4>
                </div>
            </div>

			<!--Textarea -->
            <div class="row row_create"><div class=" col-xs-12">
                <div class="form-group">
                    <textarea type="text" class="form-control total_count
						noEnterSubmit" rows="4" name="text1" placeholder="Example: A month-long academic summer program for disadvantaged kids will reduce the drop in academic performance that occurs during the summer " id="1" required="" "=""></textarea>
			<!---Counter-->
				<div id="counter1" class="counter"></div>
				</div></div></div><!-- end row  -->

				<div class="row row_create"><div class=" col-xs-12"><h4 style="margin-left: -16px;">
			<!--The question itself-->
				<b>3) Dependent variable. </b> Describe the key dependent variable(s) specifying how they will be measured.</h4></div></div>

			<!--Textarea -->
				<div class="row row_create"><div class=" col-xs-12"><div class="form-group">
				<textarea type="text" class="form-control
					total_count
						noEnterSubmit" rows="4" name="text2" placeholder="Example: Simple average GPA across all courses during the first semester after the intervention. " id="2" required="" "=""></textarea>
			<!---Counter-->
				<div id="counter2" class="counter"></div>
				</div></div></div><!-- end row  -->

				<div class="row row_create"><div class=" col-xs-12"><h4 style="margin-left: -16px;">
			<!--The question itself-->
				<b>4) Conditions. </b> How many and which conditions will participants be assigned to?</h4></div></div>

			<!--Textarea -->
				<div class="row row_create"><div class=" col-xs-12"><div class="form-group">
				<textarea type="text" class="form-control
					total_count
						noEnterSubmit" rows="6" name="text3" placeholder="Example 1: Two conditions: Offering summer program: yes vs no.
Example 2: 12 conditions in a mixed design lab study. Participants will be assigned to one of four conditions: math training, verbal training, memory task, or control (4 between-subject conditions). Each participant will complete a math test, a verbal test, and a memory test (3 within-subject conditions). " id="3" required="" "=""></textarea>
			<!---Counter-->
				<div id="counter3" class="counter"></div>
				</div></div></div><!-- end row  -->

				<div class="row row_create"><div class=" col-xs-12"><h4 style="margin-left: -16px;">
			<!--The question itself-->
				<b>5) Analyses. </b> Specify exactly which analyses you will conduct to examine the main question/hypothesis.</h4></div></div>

			<!--Textarea -->
				<div class="row row_create"><div class=" col-xs-12"><div class="form-group">
				<textarea type="text" class="form-control
					total_count
						noEnterSubmit" rows="6" name="text4" placeholder="Example. Linear regression predicting the simple average GPA in the semester after the intervention with a dummy variable indicating whether the participant was offered the summer program or not (intention-to-treat analysis). We will also conduct the same regression controlling for simple average GPA during the semester before the intervention, gender, &amp; household income (an 8-point scale ranging from 1 = below $20,000 and 8 = above $150,000). " id="4" required="" "=""></textarea>
			<!---Counter-->
				<div id="counter4" class="counter"></div>
				</div></div></div><!-- end row  -->

				<div class="row row_create"><div class=" col-xs-12"><h4 style="margin-left: -16px;">
			<!--The question itself-->
				<b>6) Outliers and Exclusions. </b> Describe exactly how outliers will be defined and handled, and your precise rule(s) for excluding observations.</h4></div></div>

			<!--Textarea -->
				<div class="row row_create"><div class=" col-xs-12"><div class="form-group">
				<textarea type="text" class="form-control
					total_count
						noEnterSubmit" rows="3" name="text5" placeholder="Example 1. We will compute the overall mean and standard deviation across all conditions, and winsorize at 2.5 SD above/below the mean.
Example 2: We will exclude participants who incorrectly answer at least 2 of our 3 attention check questions.
Example 3. We will exclude any participants who complete the survey in less than 30 seconds.
 " id="5" required></textarea>
			<!---Counter-->
				<div id="counter5" class="counter"></div>
				</div></div></div><!-- end row  -->

				<div class="row row_create"><div class=" col-xs-12"><h4 style="margin-left: -16px;">
			<!--The question itself-->
				<b>7) Sample Size. </b> How many observations will be collected or what will determine sample size?<br><font size="2"> No need to justify decision, but be precise about <u>exactly</u> how the number will be determined.</font></h4></div></div>

			<!--Textarea -->
				<div class="row row_create"><div class=" col-xs-12"><div class="form-group">
				<textarea type="text" class="form-control
					total_count
						noEnterSubmit" rows="2" name="text6" placeholder="Example: We will offer the program until 500 people have agreed to participate in it or until June 30, 2016 (whichever comes first).  " id="6" required="" "=""></textarea>
			<!---Counter-->
				<div id="counter6" class="counter"></div>
				</div></div></div><!-- end row  -->

				<div class="row row_create"><div class=" col-xs-12"><h4 style="margin-left: -16px;">
			<!--The question itself-->
				<b>8) Other. </b> Anything else you would like to pre-register? <br><font size="2">(e.g., secondary analyses, variables collected for exploratory purposes, unusual analyses planned?)</font></h4></div></div>

			<!--Textarea -->
				<div class="row row_create"><div class=" col-xs-12"><div class="form-group">
				<textarea type="text" class="form-control total_count noEnterSubmit" rows="6" name="text7" placeholder="Example: We will include a battery of questions for exploratory purposes, including life satisfaction, amount of videogame playing, and family activity. We will also provide an additional survey with 24 questions assessing achievement orientation.We will not report the results of those analyses for the project being pre-registered.
NOTE: If you leave this blank it will read 'Nothing else to pre-register.' " id="7"></textarea>
			<!---Counter-->
				<div id="counter7" class="counter"></div>
				</div></div></div><!-- end row  -->

				<div class="row row_create"><div class=" col-xs-12"><h4 style="margin-left: -16px;">
			<!--The question itself-->
				<b>9) Name. </b> Give a title for this AsPredicted pre-registration <br><font size="2">Suggestion: use the name of the project, followed by study description.</font></h4></div></div>

			<!--Textarea -->
				<div class="row row_create"><div class=" col-xs-12"><div class="form-group">
				<textarea type="text" class="form-control title_count noEnterSubmit" rows="1" name="text8" placeholder="Example: SUMMER PROGRAMS - GPA performance, Chicago, July 2018 " id="8" required="" maxlength="74"></textarea>
			<!---Counter-->
				<div id="counter8" class="counter"></div>
				</div></div></div><!-- end row  -->




        <div class="row row_create">
            <div class=" col-xs-12"><h4 style="margin-left: -16px;">
                Finally. For record keeping purposes, please tell us the type of study you are pre-registering.</h4>
                <font size="3">
                <div class="checkbox"><label><input type="radio" required="" name="type" value="class"> Class project or assignment</label></div>
                <div class="checkbox"><label><input type="radio" required="" name="type" value="exp"> Experiment</label></div>
                <div class="checkbox"><label><input type="radio" required="" name="type" value="survey"> Survey</label></div>
                <div class="checkbox"><label><input type="radio" required="" name="type" value="observational"> Observational/archival study</label></div>
                <div class="checkbox"><label><input type="radio" required="" name="type" value="other"> Other:<input type="text" name="other" size="55"></label></div>
			    </font>
            </div>
        </div>


		<br><center><button id="preview" class="btn btn_blue" value="1" name="preview">  Submit   </button></center>


		<center>
            <div id="footer" style="margin-bottom:30px;">
                <hr>
                <a href="http://credlab.wharton.upenn.edu" target="_blank">
                    <img src="https://aspredicted.org/images/CredLab Logo 2020_transparent.svg" width="165">
                </a><br><br><span style="font-size:small;">
                <a href="bug.php">Report a bug</a> &nbsp; &nbsp; | &nbsp;&nbsp;
                <a href="suggestion.php">Make a suggestion</a>  &nbsp; &nbsp; | &nbsp;&nbsp;
                <a href="https://aspredicted.org/messages/terms.php">Terms of Use</a>&nbsp; &nbsp; | &nbsp;&nbsp;
                <a href="https://aspredicted.org/messages/about.php">About </a>
                <br><br></span>
            </div>
        </center>

    </div>
    </div>
</div>

<script type=text/javascript src="{{ url_for('static', filename='js/global.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/variable.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/instruction.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/update.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/dv.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/iv.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/api.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/analysis.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/sample.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/template.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/floating.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/content.js') }}"></script>
</body>
</html>